.snakemake/
reads/*
!reads/Template
refs/
note.txt
databases/
dev_envs/
toolbox/geo_extraction.smk
toolbox/scripts/__pycache__


toolbox/geo_extraction.smk
toolbox/scripts/rna_deseq2_analysis.R
toolbox/scripts/rna_diagnostic_plots.R
toolbox/scripts/rna_edgeR_analysis.R
toolbox/scripts/rna_functional_enrichment.R
toolbox/scripts/rna_heatmap.R
toolbox/scripts/rna_log_fold_threshold.R
toolbox/scripts/rna_pca_analysis.R
reads/Template/scrna_config.yaml
toolbox/getdata.smk
toolbox/qc.smk
toolbox/rna_aligner.smk
toolbox/rna_diff_exp.smk
runinfo_cond.sh
